@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: hsl(236, 13%, 42%);
  background: hsl(36, 100%, 99%);
}

.overflow-hidden {
  overflow: hidden;
}

.wrap {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.attribution {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.6875rem;
  text-align: center;
  line-height: 1;
}
@media (min-width: 1200px) {
  .attribution {
    padding-top: 3rem;
  }
}
.attribution a {
  color: hsl(5, 85%, 63%);
  transition: color 0.3s ease;
}
.attribution a:hover {
  color: hsl(240, 100%, 5%);
}

.img-fluid {
  display: block;
  max-width: 100%;
}

.container {
  width: 92%;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 71.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.header {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media (min-width: 768px) {
  .header {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 2.875rem;
}
@media (min-width: 768px) {
  .logo {
    width: 4rem;
  }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: hsl(240, 100%, 5%);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.menu-btn {
  width: 2.5rem;
  height: 1.125rem;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  position: relative;
  z-index: 10;
}
.menu-btn__line {
  width: 100%;
  height: 0.1875rem;
  background-color: #000;
  position: absolute;
  left: 0;
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.menu-btn__line:nth-child(1) {
  top: 0;
}
.menu-btn__line:nth-child(2) {
  top: 0.5rem;
}
.menu-btn__line:nth-child(3) {
  top: 0.5rem;
}
.menu-btn__line:nth-child(4) {
  top: 0.9375rem;
}
@media (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu {
  font-size: 1.125rem;
  line-height: 1.3;
}
.menu__item {
  text-decoration: none;
  color: hsl(240, 100%, 5%);
  transition: color 0.3s ease;
}
.menu__item:hover {
  color: hsl(5, 85%, 63%);
}
.menu--desk {
  display: none;
  font-size: 1rem;
  gap: 2.375rem;
}
@media (min-width: 768px) {
  .menu--desk {
    display: flex;
  }
}
.menu--mob {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 90%;
  max-width: 16rem;
  z-index: 9;
  padding: 1.5rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  transform: translateX(100%);
  transition: transform 0.3s ease;
}
@media (min-width: 768px) {
  .menu--mob {
    display: none;
  }
}

.menu--open .menu-btn__line:nth-child(1) {
  transform: scaleX(0);
}
.menu--open .menu-btn__line:nth-child(2) {
  transform: rotate(45deg);
}
.menu--open .menu-btn__line:nth-child(3) {
  transform: rotate(-45deg);
}
.menu--open .menu-btn__line:nth-child(4) {
  transform: scaleX(0);
}
.menu--open .menu--mob {
  transform: translateX(0%);
}
.menu--open .overlay {
  opacity: 0.5;
  pointer-events: inherit;
}

@media (min-width: 768px) {
  .wrap > .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: max-content;
    row-gap: 4.5rem;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
}
@media (min-width: 1200px) {
  .wrap > .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.main-theme {
  margin-bottom: 4rem;
}
@media (min-width: 768px) {
  .main-theme {
    grid-row: 1/2;
    grid-column: 1/4;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .main-theme {
    grid-row: 1/2;
    grid-column: 1/3;
  }
}
.main-theme__image {
  margin-bottom: 1.5rem;
}
@media (min-width: 768px) {
  .main-theme__image {
    margin-bottom: 2rem;
    width: 100%;
    flex: 0 0 auto;
  }
}
.main-theme__title {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1;
  color: hsl(240, 100%, 5%);
}
@media (min-width: 768px) {
  .main-theme__title {
    font-size: 3.5rem;
    width: 50%;
    flex: 0 0 auto;
    margin-bottom: 0;
  }
}
.main-theme__text {
  line-height: 1.7;
}
@media (min-width: 768px) {
  .main-theme__text {
    width: 50%;
    flex: 0 0 auto;
    line-height: 1.6;
    padding-left: 1rem;
  }
}
.main-theme__btn {
  margin-top: 1.5rem;
}
@media (min-width: 768px) {
  .main-theme__btn {
    margin-top: 2rem;
  }
}

.btn {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.3em;
  padding: 1rem 2rem;
  transition: all 0.3s ease;
}
.btn:focus {
  outline: none;
}
.btn--primary {
  background-color: hsl(5, 85%, 63%);
  color: white;
}
.btn--primary:hover {
  background-color: hsl(240, 100%, 5%);
}

.news {
  background-color: hsl(240, 100%, 5%);
  color: white;
  padding: 1.5rem 1.25rem 0;
  margin-bottom: 4rem;
}
@media (min-width: 768px) {
  .news {
    grid-row: 2/3;
    grid-column: 2/4;
    margin-bottom: 0;
    padding: 2rem 1.5rem 0 1.5rem;
  }
}
@media (min-width: 1200px) {
  .news {
    grid-row: 1/2;
    grid-column: 3/4;
  }
}
.news__title {
  margin-top: 0;
  margin-bottom: 0;
  color: hsl(35, 77%, 62%);
  font-size: 2rem;
  line-height: 1;
}
@media (min-width: 1200px) {
  .news__title {
    font-size: 2.5rem;
  }
}
.news__item {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}
.news__item:not(:last-child) {
  border-bottom: 1px solid;
}
.news__item p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.6;
}
.news__caption {
  display: block;
  font-size: 1.25rem;
  font-weight: 700;
  color: white;
  text-decoration: none;
  margin-bottom: 0.5rem;
  transition: color 0.3s ease;
}
.news__caption:hover {
  color: hsl(35, 77%, 62%);
}

@media (min-width: 768px) {
  .top {
    grid-row: 2/3;
    grid-column: 1/2;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 2rem;
  }
}
@media (min-width: 1200px) {
  .top {
    grid-row: 2/3;
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: none;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
}
.top-item {
  display: flex;
  gap: 1.5rem;
}
.top-item:not(:last-child) {
  margin-bottom: 2.125rem;
}
@media (min-width: 768px) {
  .top-item:not(:last-child) {
    margin-bottom: 0;
  }
}
.top-item__image {
  flex: 0 0 6.25rem;
}
.top-item__image .img-fluid {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.top-item__text {
  line-height: 1.7;
}
.top-item__number {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: hsl(233, 8%, 79%);
  margin-bottom: 0.75rem;
}
.top-item__title {
  display: block;
  font-size: 1.125rem;
  font-weight: 800;
  line-height: 1.2;
  color: hsl(240, 100%, 5%);
  text-decoration: none;
  margin-bottom: 0.625rem;
  transition: color 0.3s ease;
}
.top-item__title:hover {
  color: hsl(5, 85%, 63%);
}/*# sourceMappingURL=styles.css.map */